# SEE https://qodo-merge-docs.qodo.ai/installation/github/
name: PR Agent

on:
  pull_request:
    types: [opened, edited, reopened, ready_for_review, synchronize]
  issue_comment:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      # checkov:skip=CKV2_GHA_1
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    name: Run pr agent on every pull request, respond to user comments
    steps:
      - uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/131500153501/locations/global/workloadIdentityPools/github-oidc-pool/providers/github-oidc-provider
          service_account: ai-code-review@ubie-oss-data-engineering.iam.gserviceaccount.com
      - name: debug
        run: |
          gcloud auth print-access-token
      - name: PR Agent action step
        id: pragent
        uses: Codium-ai/pr-agent@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
